svg {
  width: 0;
  height: 0;
}

footer {
  /*position: absolute;*/
  /*top: 400vh;*/
  /*left: 0%;*/
  color: white;
}

.curve {
  height: 50vh;
  width: 100vw;
  /* background-color: blueviolet; */
  background-color: #28403a;
  position: relative;
  left: 0%;
  padding: 2rem 3rem 0 2rem;
  display: flex;
  justify-content: space-between;
  height: fit-content !important;
  padding-bottom: 1em;

  text-align: center;
}

.curve::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 5vh;
  background-color: #28403a;
  top: -20%;
  left: 0%;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  padding: 1rem;
  scale: 1.5;
}

.footer-header {
  font-size: 2.5rem !important;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.social-links {
  text-align: right;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links svg {
  width: 2rem;
  height: 2rem;
  /*cursor: pointer;*/
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-top: 2rem;
}

.footer-nav-links a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.left-div {
  text-transform: uppercase;
  height: 100%;
  text-align: left;
}

.left-div h3 {
  font-size: 2.5rem !important;
  font-weight: bold;
}

.left-div h3 {
  font-size: 2rem;
}

/*=============== MAGIC BUTTON ===============*/

.button {
  position: relative;
  background-color: hsl(217, 85%, 70%);
  color: #fff;
  padding: 0.9rem 2.2rem;
  border-radius: 3rem;
  transition: all 0.4s ease;
  display: inline-block;
}

.button-text {
  position: relative;
  z-index: 10;
}

.button img {
  position: absolute;
  inset: 0;
  margin: auto;
  pointer-events: none;
  transition: 0.6s;
  opacity: 0;
  object-fit: contain;
}

.button-cone {
  width: 38px;
  transform: translate(-25px, -6px) rotate(55deg);
  /* filter: blur(.5px); */
}

.button-torus {
  width: 38px;
  transform: translate(7px, -14px) rotate(80deg);
}

.button-icosahedron {
  width: 36px;
  transform: translate(34px, -4px) rotate(-45deg);
  /* filter: blur(.9px); */
}

.button-sphere {
  width: 30px;
  transform: translate(-5px, 15px) rotate(40deg);
}

.button:hover {
  scale: 1.3;
}

.button:hover img {
  opacity: 1;
}

.button:hover .button-cone {
  transform: translate(-58px, -20px) scale(1.2);
}

.button:hover .button-torus {
  transform: translate(7px, -32px) scale(1.1);
}

.button:hover .button-icosahedron {
  transform: translate(50px, -20px) scale(1.1);
}

.button:hover .button-sphere {
  transform: translate(-14px, 20px) scale(1.1);
}

.link {
  height: 30px;
  align-items: center;
  color: white;
  text-decoration: none;
  display: flex;
  margin-top: 1rem;
}

.mask {
  position: relative;
  padding: 0;
  height: 1.6rem;
  width: fit-content;

  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  font-size: 1.5rem;
  line-height: 1.5rem;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

/* Move up two texts (1.5rem = font-size) */
.link:hover .link-container {
  transform: translateY(-1.5rem);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}


@media only screen and (max-width: 1100px) {
  .footer-header {
    font-size: 2rem !important;
  }
  .left-div h3 {
    font-size: 2rem !important;
  }
  .social-links {
    justify-content: space-between;
    width: 30vw;
  }
}
@media only screen and (max-width: 890px), screen and (max-height: 550px) {
  .link {
    margin-top: 0;
  }

  footer {
    top: 450vh;
  }

  .footer-header {
    font-size: 1.5rem !important;
  }

  .left-div h3 {
    font-size: 1.5rem !important;
  }

  .footer-nav-links a {
    font-size: 0.2rem !important;
  }


  .title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }

  .curve::before {
    top: -25%;
  }
}

@media only screen and (max-width: 630px) {
  .curve {
    flex-direction: column;
    height: fit-content !important;
  }
  .curve::before {
    top: -15%;
  }
  .left-div {
    text-align: center;
    margin-bottom: 2em;
  }
  .right-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  
  /* .link-container span {
    font-size: 0.2rem;
  } */

  .social-links {
    width: auto;
    margin-bottom: 1em;
  }
  .footer-nav-links {
    padding-left: 1em;
    flex-direction: row;
    gap: 0.8em;
    margin: 1em 0;
  }
}

