* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-snap-type: y proximity;
  overflow-x: hidden;
}

.off-screen-menu {
height: 100vh;
  width: 100%;
  max-width: 450px;
  /* background-color: #000; */
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0px;
  left: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  z-index: 100;
  border-radius: 0 10px 10px 0;
  transition: 0.3s ease;
  padding-left: 2rem;
}

.off-screen-menu.active {
  left: 0px;
}

nav {
  display: flex;
  background-color: transparent;
  padding: 0rem 2.5rem;
  width: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}
li {
  list-style: none;
  text-transform: uppercase;
  text-align: left;
  line-height: 5rem;
}
.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  left: -20px;
  position: relative;
  font-family: "Space Mono", monospace;
  z-index: 110;
}
.ham-menu.active {
  top: 10px;
  left: -20px;
}
.ham-menu span {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 25px;
  top: 50%;
  background-color: #1e3754;
  mix-blend-mode: difference;
  /* transform: translate(-50%, -50%); */
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
/* .ham-menu.active span{
  
} */
.ham-menu.active span:nth-child(1) {
  top: 50%;
  left: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  transform: translateX(-50px);
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.homepage {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.homepage main {
  /*background-color: yellowgreen ;*/
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  /*transform: translate(-50%, -50%);*/
  transition: all 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.bg-img {
  position: absolute;
  width: 2800px;
  top: calc(50% - 390px);
  left: calc(50% + 10px);
  z-index: 1;
}

.fog-7 {
  position: absolute;
  z-index: 2;
  width: 1900px;
  top: calc(50% - 100px);
  left: calc(50% + 300px);
}

.mountain-10 {
  position: absolute;
  z-index: 3;
  width: 892px;
  top: calc(50% + 69px);
  left: calc(50% + 230px);
}

.fog-6 {
  position: absolute;
  z-index: 4;
  /*width: 1610px;*/
  width: 2000px;
  top: calc(50% + 85px);
  left: calc(50% + 10px);
}

.mountain-9 {
  position: absolute;
  z-index: 5;
  width: 470px;
  top: calc(50% + 113px);
  left: calc(50% + 230px);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  width: 810px;
  top: calc(50% + 86px);
  left: calc(50% - 202px);
}

.fog-5 {
  position: absolute;
  z-index: 7;
  width: 450px;
  top: calc(50% + 160px);
  left: calc(50% + 20px);
}

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% + 305px);
}

.text {
  position: absolute;
  z-index: 9;
  top: calc(50% - 130px);
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  pointer-events: auto;
}

.text h2 {
  font-weight: 100;
  font-size: 3.5rem;
  line-height: 1;
}

.text h1 {
  font-weight: 800;
  font-size: 5rem;
  line-height: 1;
}

.mountain-6 {
  position: absolute;
  z-index: 10;
  width: 408px;
  top: calc(50% + 60px);
  left: calc(50% + 590px);
}

.fog-4 {
  position: absolute;
  z-index: 11;
  width: 590px;
  top: calc(50% + 228px);
  left: calc(50% - 60px);
}

.mountain-5 {
  position: absolute;
  z-index: 12;
  width: 629px;
  top: calc(50% + 250px);
  left: calc(50% + 130px);
}

.fog-3 {
  position: absolute;
  z-index: 13;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
}

.mountain-4 {
  position: absolute;
  z-index: 14;
  width: 780px;
  top: calc(50% + 196px);
  left: calc(50% - 381.5px);
}

.mountain-3 {
  position: absolute;
  z-index: 15;
  width: 300px;
  top: calc(50% + 100px);
  left: calc(50% + 650px);
}

.fog-2 {
  position: absolute;
  z-index: 16;
  width: 300px;
  top: calc(50% + 100px);
  left: calc(50% + 600px);
  /*background-color: blue;*/
}

.mountain-2 {
  position: absolute;
  z-index: 17;
  width: 530px;
  top: calc(50% + 145px);
  left: calc(50% + 350px);
  /*background-color: yellow;*/
}

.mountain-1 {
  position: absolute;
  z-index: 18;
  width: 500px;
  top: calc(50% + 130px);
  left: calc(10%);
  /*background-color: yellow;*/
}

.sun-rays {
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  width: 595px;
  pointer-events: none;
}

.black-shadow {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
  /*background-color: #fff;*/
}

.fog-1 {
  position: absolute;
  z-index: 21;
  width: 1600px;
  top: calc(100% - 355px);
  left: 50%;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
  pointer-events: none;
}

@media screen and (max-width: 575px) {
  .text h2 {
    font-size: 2.5rem;
  }

  .text h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .text h2 {
    font-size: 1.5em;
  }

  .text h1 {
    font-size: 3em;
  }
}
