* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: black;
   margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
}

.gallery {
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.gallery-container {
   width: 90%;
   height: 90%;
   display: grid;
   grid-template-columns: repeat(32, 1fr); 
   grid-template-rows: repeat(4, 1fr); /* Define rows explicitly */
   gap: 1rem;
   padding: 1rem;
   margin: 0 auto;
}

.gallery-photo {
   position: relative;
   overflow: hidden;
   border-radius: 1rem;
   background-size: cover;
   background-position: center;
   margin-top: 15%;
   transition: transform 0.3s ease-out;
   min-height: 100%; /* Make sure boxes stretch to fill height */
}

.gallery-photo:nth-child(1) {
   grid-column: 1 / 12;
   grid-row: 1 / 2; /* Assign row explicitly */
   background-image: url('https://visitethiopia.travel/wp-content/uploads/2021/04/Dramatic-Landscapes-1.jpg');
}

.gallery-photo:nth-child(2) {
   grid-column: 12 / 22;
   grid-row: 1 / 2;
   background-image: url('https://visitethiopia.travel/wp-content/uploads/2021/04/Coffee-Forest-Tours-1.jpg');
}

.gallery-photo:nth-child(3) {
   grid-column: 22 / 33;
   grid-row: 1 / 3; /* This one spans 2 rows */
   background-image: url('https://visitethiopia.travel/wp-content/uploads/2021/04/Wildlife-Safari.jpg');
}

.gallery-photo:nth-child(4) {
   grid-column: 1 / 13;
   grid-row: 2 / 4; /* Spanning 2 rows */
   background-image: url('https://visitethiopia.travel/wp-content/uploads/2021/04/Bird-Watching-2.jpg');
}

.gallery-photo:nth-child(5) {
   grid-column: 13 / 22;
   grid-row: 2 / 3;
   background-image: url('https://visitethiopia.travel/wp-content/uploads/2021/04/Danakil-Depression.jpg');
}

.gallery-photo:nth-child(6) {
   margin-top: 9%;
   grid-column: 13 / 33;
   grid-row: 3 / 4;
   background-image: url('https://imgix.brilliant-ethiopia.com/blue-nile-falls-4.JPG?auto=format,enhance,compress&fit=crop&crop=entropy,faces,focalpoint&w=720&h=0&q=60 720w');
}

.card {
   position: absolute;
   bottom: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.7);
   color: white;
   padding: 1rem;
   transform: translateY(100%);
   transition: transform 0.5s ease;
}

.gallery-photo:hover .card {
   transform: translateY(0);
}

.more {
   display: inline-block;
   text-decoration: none;
   color: white;
   background-color: hsl(142, 90%, 61%);
   padding: 0.2rem 0.5rem;
   border-radius: 0.25rem;
   margin-top: 0.5rem;
}

.more:hover {
   background-color: white;
   color: hsl(142, 90%, 61%);
}