@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
a {
  text-decoration: none;
}

body {
  background-color: #eee;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.card {
  display: inline-block;
  position: relative;
  width: 400px;
  min-width: 400px;
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
  cursor: pointer;
}

.image {
  /*height: 70%;*/
  transition: all 0.5s ease;
  width: 100%;
  object-fit: cover;

}
.card:hover .image {
  scale: 1.2;
}

.text_container {
  position: absolute;
  top: 49%;
  left: -5px;
  height: 65%;
  width: 108%;
  background-image: linear-gradient(0deg, #3f5efb, #fc466b);
  border-radius: 30px;
  transform: skew(19deg, -9deg);
  transition: background-image 0.5s ease;
  cursor: pointer;
}

/*.text_container:hover .image {*/
/*  background-image: linear-gradient(0deg, #fc466b, #3f5efb);*/
/*}*/

.second .text_container {
  background-image: linear-gradient(-20deg, #bb7413, #e7d25c);
}
/*.second .text_container:hover {*/
/*  background-image: linear-gradient(-20deg, #e7d25c, #bb7413);*/
/*}*/

.logo {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  left: 30px;
  bottom: 30%;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.logo img {
  height: 100%;
}

.main_text {
  position: absolute;
  color: #fff;
  font-weight: 900;
  left: 150px;
  bottom: 26%;
  display: flex;
}

.main_text p {
  text-align: left;
  font-size: 0.8rem;
}

/*------------------------------------------------------------------------------------------------------------*/
.card_btn {
  /*width: 100%;*/
  position: absolute;
  color: #fff;
  right: 10px;
  bottom: 8%;
  /*padding: 10px 20px;*/
  /*background-color: yellow;*/
  /*border: 1px solid #fff;*/
  /*animation: animate 2s ease 0s infinite normal forwards;*/
}
/*------------------------------------------------------------------------------------------------------------*/

/*@keyframes animate {*/
/*  0% {*/
/*    transform: translate(0);*/
/*  }*/
/*  20% {*/
/*    transform: translate(-2px, 2px);*/
/*  }*/
/*  40% {*/
/*    transform: translate(-2px, -2px);*/
/*  }*/
/*  60% {*/
/*    transform: translate(2px, 2px);*/
/*  }*/
/*  80% {*/
/*    transform: translate(2px, -2px);*/
/*  }*/
/*  100% {*/
/*    transform: translate(0);*/
/*  }*/
/*}*/

/*------------------------------------------------------------------------------------------------------------*/
/*.card_btn:hover {*/
/*  animation: none;*/
/*}*/

/*.card_btn a {*/
/*  color: #fff;*/
/*}*/
/*------------------------------------------------------------------------------------------------------------*/

.date {
  position: absolute;
  color: #fff;
  left: 30px;
  bottom: 5%;
}

.hero {
  height: 100vh;
  /*background-color: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /*background-image: url("https://telsemarts.com/wp-content/uploads/2023/05/banner.jpg");*/
  /*background-image: url("https://visitethiopia.travel/wp-content/uploads/2021/04/cultural-experience.jpg");*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/hero-bg.jpg"); /* background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero span {
  /*font-size: 5rem;*/
  font-size: 7.5vw;
  font-weight: bold;
}

/*---------------------------------------------------------------------------------------*/

.dedcription-btn {
  /*width: 100%;*/
  width: 10rem;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  background-color: #fcfcfc;
  color: #ffa000;
  text-align: center;
  font-size: 18px;
  padding: 9px 0;
  transition: all 0.3s;
  padding-right: 40px;
  margin: 20px 5px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
}
.dedcription-btn .btn-icon {
  background-color: #ffa000;
  width: 92px;
  height: 43px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
}
.name-descripeion {
  color: black;
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /*width: 10rem;*/
  width: inherit;
}
.btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #fcfcfc;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}
.btn-icon i {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #fff;
}
.dedcription-btn:hover {
  color: #fff !important;
}

.brain {
  background-color: #8bc34a !important;
}
/*.col-md-6 {*/
/*  text-align: right;*/
/*}*/



/*-------------------------------------------------------------------*/
/*body {*/
/*  margin: 0;*/
/*  height: 100vh;*/
/*  background: linear-gradient(135deg, #0a0c0f, #121821, #1e2a33, #25323f, #1e2a33, #121821, #0a0c0f);*/
/*  background-size: 300% 300%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.holo-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
  /*color: #0ff;*/
  text-align: center;
  position: relative;
}

.holo-text span {
  display: block;
  position: relative;
  animation: holo-flicker 3s infinite;
}

.holo-text span:nth-child(2) {
  animation-delay: 1s;
}

.holo-text span:nth-child(3) {
  animation-delay: 2s;
}

@keyframes holo-flicker {
  0%, 100% {
    text-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px #0ff,
      0 0 80px #0ff;
    opacity: 1;
  }
  50% {
    text-shadow: none;
    opacity: 0.5;
  }
}
